<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WidgetAppDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetDemoExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B6EEB89265B89E500AD34D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B6EEB9F265B89E800AD34D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B6EEBAA265B89E800AD34D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B6EEBC0265B8A4500AD34D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
